.navbar-bg{
    background-color: rgb(194, 205, 214);
    box-shadow: 0 7px 6px -3px rgba(75, 73, 73, 0.747);
}

.logo-img{
    width: 150px;
}

.each-link{
    text-decoration: none;
    font-size: 1.6em; 
}

.chart-circle{
    width: 25px;
    height:25px;
    border-radius: 100%;
    background-color: red;
    margin-left: 65px;
    margin-top: 30px;
    color: white;
    font-size: 0.8em;
}